{{>header}}

</head>
<body onload="getIP()">

{{>searchbar}}



<div class="page-container">
		<div class="pageTitle-container">
			<div class="page-Title">
				LOGO
			</div>

			<!--
			<div class="page-Search" onclick="show_overlay()">
				<div class="search-50">
					<img src="/images/icons/search-50.png" alt="search button"><span> Search</span>
				</div>

			</div>
		-->
		</div>
		<div class="categories-container">
			<div class="content-container">
				<div class="content-Title">
					Today's Inspiration
				</div>
				<div class="content-More">
					<!--
					<a href="/browse">More &gt;</a>-->
				</div>
			</div>
			<div class="content-media">
				<a href="/{{categoryTitle}}/{{itemId}}/showOneItem">{{{mediaHTML}}}</a>

			</div>
			<div class="categories-button">
				<a href="/app/random">
					<div class="categories">
						Random <img src="/images/icons/random-100.png" alt="random play icon" height="70">
					</div>
				</a>

				<div class="playbuttons">
					{{#each dataTypeList}}
						<a href="/app/{{title}}/filteredRandom">
							<div id="{{title}}" class="categories">
								{{dataType}} <img src="/images/icons/random-100.png" alt="random play icon" height="70">
							</div>
						</a>
					{{/each}}
				</div>

			</div>


		</div>


		<div style="height: 5rem;"class="nav-down-cover">

		</div>


		<!-- SPACE FOR POPUP -->
		<div id="profile_popup" class="modal"> </div>





		<!-- BOTTOM NAVIGATION BAR -->
		{{>navigation}}

	</div>

    {{>script}}


</body>

</html>
