{{>header}}

<link rel="stylesheet" href="/css/info.css">
<link href="/css/profile.css" rel="stylesheet">
</head>
{{>searchbar}}
<body>
  <div class="page-container">
    <div class="pageTitle-container">

      <div class="page-back">
        <a href="/{{categoryTitle}}/{{itemId}}/show"> &lt; Back  </a>
      </div>

      <div class="page-title">
        info
      </div>

      <div class="page-filter">
        Save
      </div>

    </div>
    <div id="desc" class="page-subtitle">
      Title
    </div>
    <div class="page-box page-box-padding basic-padding">
      {{itemTitle}}
    </div>

    <div class="page-subtitle">
      Description
    </div>

    <div class="page-box page-box-padding basic-padding">
      {{description}}
    </div>

    {{#each extra}}
    <div class="page-subtitle">
      {{title}}
    </div>
        {{{contentHTML}}}
        {{#each container}}
          {{{mediaHTML}}}
        {{/each}}
   {{/each}}


    <div class="nav-cover">
    </div>

    <!-- SPACE FOR POPUP -->
    <div id="profile_popup" class="modal"> </div>

{{#if isScreenShared}}
    <div class="nav-share-2 chatroom-btns-layout">

        {{#unless isAtChatroom}}
        <div class="group-chat-container">

          <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/unsetShareInfo">  <div id="cancelGroupChat" class="group-chat-btn-layout">
                Exit Sharing
              </div></a>
          <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/setChatInfo"><div id="enterChatRoom" class="group-chat-btn-layout">
            Enter Group Chatroom
          </div></a>

        </div>
        {{/unless}}


    </div>
  {{/if}}
    <!-- BOTTOM NAVIGATION BAR -->
    {{#unless isAtChatroom}}
    {{>navigation}}
    {{/unless}}

    {{#if isAtChatroom}}
    <div class="chat-box-container">
      <div class="chat-box-btns">
        <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/unsetChatInfo">
        <div id="exit-chat" class="exit">
          Exit Chatroom
        </div>
      </a>
        <div id="up-btn" class="up">
          <img id="up-icon" src="/images/icons/up.svg" alt="">
        </div>
      </div>
      <div class="chat-box-message-window">
        <div class="message-window">
          <div class="">
            User1 : Hello World!
          </div>
          <div class="">
              User2 : What's up
          </div>
          <div class="">
              User3 : What's up
          </div>


        </div>
        </div>

      <div class="chat-box-message-input">
        <input id="chat-input" type="text" name="" value="" placeholder="Message Here">
      </div>
    </div>

    {{/if}}



  </div>
    {{>script}}

</body>

</html>
