<!doctype html>
<html lang="en">

<head>
{{#if data.viewAlt}}
{{else}}
  <!-- Google Analytics Content Experiment code -->
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='171157908-3',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
<!-- End of Google Analytics Content Experiment code -->

<script>
{{/if}}
(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] || function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-115371274-1', 'auto');
	ga('send', 'pageview');

</script>



	<title>InspireU</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
  	<link href="/css/materialize.css" rel="stylesheet" type="text/css" media="screen,projection"/>
  	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/profile.css" rel="stylesheet">
	<link href="/css/play.css" rel="stylesheet" type="text/css">
	<link href="/css/notification_popup.css" rel="stylesheet" type="text/css">


	<!-- for search overlay -->
	<link href="/css/search.css" rel="stylesheet">
	<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>


<link rel="stylesheet" href="/css/info.css">
<link href="/css/profile.css" rel="stylesheet">
<link href="/css/share.css" rel="stylesheet">
</head>
{{>searchbar}}

<body>
  <div class="page-container">
    <div class="pageTitle-container">
      <div class="page-back">
        {{#if isOneItem}}
          <a href="/{{categoryTitle}}/{{itemId}}/showOneItem"> &lt; Back  </a>
        {{else}}
          <a href="/{{categoryTitle}}/{{itemId}}/show"> &lt; Back  </a>
        {{/if}}
      </div>

      <div class="page-title">
        share
      </div>

      <div class="page-filter">

      </div>

    </div>
    <div id="desc">

    </div>

    <div class="preview">

      {{{mediaHTML}}}

    </div>
    {{#if data.viewAlt}}
      <div class="page-subtitle-alt">

        <div class="page-link-box-alt">
          <div class="alt-cover">
            Share Link
          </div>
          <div class="page-input-box-alt">
            <div class="">
                <input id="email" style="border: 1px solid gray; width:100%; height:2rem; font-size:1.5rem; padding-top:0;" type="text" name="" value="" placeholder="Email Address">
            </div>




          </div>
          <div style="width:90%; height:3rem;" id="link-send" class="shareBtn">Send</div>
          <div class="" style="margin:0 1rem;">

          </div>
          <div class="" style="margin:0 1rem; margin-top:4rem;">
            Send someone this inspiration with Share Link! Type in their email to send the link or copy and paste it where ever you’d like!
          </div>


        </div>
        <div class="page-screen-box-alt">
          <div class="alt-cover">
            Share Screen
          </div>
          <div class="page-input-box-alt">
            <div class="">
                <input id="email" style="border: 1px solid gray; width:100%; height:2rem; font-size:1.5rem; padding-top:0;" type="text" name="" value="" placeholder="UserName">
            </div>




          </div>
          <a style="width:90%; height:3rem;" id="group-chat-send-a" >
              <!--
          <a style="width:90%; height:3rem;" id="group-chat-send-a" href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/setShare">
          -->
            <div id="group-chat-send" class="shareBtn">Start Sharing</div>
          </a>
          <div class="" style="color:red; margin:0 1rem; ">
            you are required to login to use screen sharing.
          </div>
          <div class="" style="margin:0 1rem; margin-top:1rem;">
            Let other users see your current inspiration screen with Screen Sharing! Enter your friend’s username and have the ability to share your screen with them while also chatting.
          </div>
        </div>

      </div>



    {{else}}
      <div class="page-subtitle">
        Share Link
      </div>
      <div class="page-box page-box-padding share">
        <input id="email" style="border: 1px solid gray; width:95%; height:3rem; font-size:1.5rem; padding-top:0;" type="text" name="" value="" placeholder="Email Address">
        <div id="link-send" class="shareBtn">Send</div>
        <div id="link-copy" class="shareBtn">Copy</div>
      </div>
      <div style="color: red;" class="required">

      </div>
      <!--
    <div class="page-subtitle">
      Get a Sharable Link
    </div>

    <div class="page-box page-box-padding basic-padding share">
      <div style="margin-top:1rem; border: 0px; width:95%; height:1.5rem; font-size:1rem;" class="url">
        localhost:3000/sharedlink/{{itemIdTotal}}/show
      </div>
      <div class="shareBtn">Copy</div>

    </div>


-->
      {{#unless isOneItem}}
        <div class="page-subtitle">
          Screen Sharing with Others
        </div>
        <div class="page-box page-box-padding share2">
          <input id="username" style="border: 1px solid gray; height: margin-top:1rem; width:95%; height:3rem; font-size:1.5rem;" type="text" name="" value="" placeholder="UserName">
            <!--
          <a id="group-chat-send-a" href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/setShare">
          -->
          <a id="group-chat-send-a">
            <div id="group-chat-send" class="shareBtn">Start Sharing</div>
          </a>
        </div>
        <div class="required">
          you are required to login to use screen sharing.
        </div>
        <div style="color: red;" class="required">

        </div>


  </div>

  {{/unless}}

  {{/if}}
  <div class="nav-cover-down">
  </div>

  <!-- SPACE FOR POPUP -->
  <div id="profile_popup" class="modal"> </div>
  {{#unless isOneItem}}
    <div class="nav-share-2 chatroom-btns-layout">
      {{#if isScreenShared}}
        {{#unless isAtChatroom}}
          <div class="group-chat-container">

            <a>
              <div>

              </div>
            </a>
            <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/setChatShare">
              <div id="enterChatRoom" class="">
                <img src="/images/icons/chat50.png" alt="">
                <div class="centered">
                  Chat
                </div>
              </div>
            </a>

          </div>
        {{/unless}}
      {{/if}}


    </div>

    <!-- BOTTOM NAVIGATION BAR -->
    {{#unless isAtChatroom}}
      {{>navigation}}
    {{/unless}}

    {{#if isAtChatroom}}
      <div class="chat-box-container">
        <div class="chat-box-btns">
          <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/unsetChatShare">
            <div id="exit-chat" class="exit">
              Exit
            </div>
          </a>
          <div id="up-btn" class="up">
            <img id="up-icon" src="/images/icons/up.svg" alt="">
          </div>
        </div>
        <div class="chat-box-message-window">

          <div id="conversation" class="message-window">



          </div>
        </div>

        <div class="chat-box-message-input">
          <input id="chat-input" type="text" name="" value="" placeholder="Message Here">
          <input type="button" id="datasend" name="" value="SEND">
        </div>
      </div>

    {{/if}}

  {{/unless}}


  </div>
  <div class="notification-hidden">

    <div class="save-popup">
      <img id="check-icon" src="/images/icons/check-500.png" alt=""> Added to Your Profile
    </div>
  </div>

  {{>script}} {{>chatScript}}

  <script src="/js/share.js">
  </script>
</body>

</html>
