{{>header}}

<link rel="stylesheet" href="/css/info.css">
<link href="/css/profile.css" rel="stylesheet">
<link href="/css/share.css" rel="stylesheet">
</head>
  {{>searchbar}}
<body>
  <div class="page-container">
    <div class="pageTitle-container">
      <div class="page-back">
        {{#if isOneItem}}
        <a href="/{{categoryTitle}}/{{itemId}}/showOneItem"> &lt; Back  </a>
        {{else}}
        <a href="/{{categoryTitle}}/{{itemId}}/show"> &lt; Back  </a>
        {{/if}}
      </div>

      <div class="page-title">
        share
      </div>

      <div class="page-filter">

      </div>

    </div>
    <div id="desc">

    </div>

    <div class="preview">

        {{{mediaHTML}}}

    </div>

    <div class="page-subtitle">
      Share Link
    </div>
    <div class="page-box page-box-padding share">
      <input id="email" style="border: 0px; width:95%; height:1.5rem; font-size:1.5rem; padding-top:0;" type="text" name="" value="" placeholder="Email Address">
      <div id="link-send" class="shareBtn">Send</div>
      <div id="link-copy" class="shareBtn">Copy</div>
    </div>
    <div style="color: red;" class="required">
      * In order to simulate shared like<br>
      https://a7-cogs120team2.herokuapp.com/sharedlink/{{itemIdTotal}}/show
    </div>
  <!--
    <div class="page-subtitle">
      Get a Sharable Link
    </div>

    <div class="page-box page-box-padding basic-padding share">
      <div style="margin-top:1rem; border: 0px; width:95%; height:1.5rem; font-size:1rem;" class="url">
        localhost:3000/sharedlink/{{itemIdTotal}}/show
      </div>
      <div class="shareBtn">Copy</div>

    </div>

-->{{#unless isOneItem}}
    <div class="page-subtitle">
      Screen Sharing with Others
    </div>
    <div class="page-box page-box-padding share2">
      <input id="username" style="margin-top:1rem; border: 0px; width:95%; height:1.5rem; font-size:1.5rem;" type="text" name="" value="" placeholder="UserName">
      <a id="group-chat-send-a" href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/setShare"><div id="group-chat-send" class="shareBtn">Start Sharing</div></a>
    </div>
    <div class="required">
      you are required to login to use screen sharing.
    </div>
    <div  style="color: red;" class="required">
      * In order to simulate shared link<br>https://a7-cogs120team2.herokuapp.com/sharedChat/1/random/0/show
    </div>


    </div>

    {{/unless}}


    <div class="nav-cover-down">
    </div>

    <!-- SPACE FOR POPUP -->
    <div id="profile_popup" class="modal"> </div>
    {{#unless isOneItem}}
    <div class="nav-share-2 chatroom-btns-layout">
      {{#if isScreenShared}}
        {{#unless isAtChatroom}}
          <div class="group-chat-container">

            <a>
              <div>

              </div>
            </a>
            <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/setChatShare">
              <div id="enterChatRoom" class="">
                <img src="/images/icons/chat50.png" alt=""><div class="centered">
                  Chat
                </div>
              </div>
            </a>

          </div>
        {{/unless}}
      {{/if}}


    </div>

    <!-- BOTTOM NAVIGATION BAR -->
    {{#unless isAtChatroom}}
      {{>navigation}}
    {{/unless}}

    {{#if isAtChatroom}}
      <div class="chat-box-container">
        <div class="chat-box-btns">
          <a href="/userData/{{userIdNumber}}/{{categoryTitle}}/{{itemId}}/unsetChatShare">
            <div id="exit-chat" class="exit">
              Exit
            </div>
          </a>
          <div id="up-btn" class="up">
            <img id="up-icon" src="/images/icons/up.svg" alt="">
          </div>
        </div>
        <div class="chat-box-message-window">

          <div id="conversation" class="message-window">



          </div>
        </div>

        <div class="chat-box-message-input">
          <input id="chat-input" type="text" name="" value="" placeholder="Message Here">
          <input type="button" id="datasend" name="" value="SEND">
        </div>
      </div>

    {{/if}}

      {{/unless}}


  </div>
  <div class="notification-hidden">

    <div class="save-popup">
      <img id="check-icon" src="/images/icons/check-500.png" alt=""> Added to Your Profile
    </div>
  </div>

  		{{>script}}

      {{>chatScript}}

      <script src="/js/share.js">
      </script>
</body>

</html>
